#return{
    color:greenyellow;
    text-align: center;
}
.small{
    font-size: 40px;
}
.bd-example{
    width: 500px;
    align-content: center;

}
.title{
    text-align: center;
    background: rgb(247, 237, 110);
}
.divpages{
    background: rgb(247, 237, 110);
    height: 100px;
}
div>p{
    font-size: 30px;
    border-width: 5px;
    border-color: orangered;
    margin-block-start: 10px;

}
.sub{
    background: rgb(247, 237, 110);
    font-size: 30px;
    text-align: center;
}
a:hover{
background-color: yellowgreen
}
button a{
    font-size: 30px;
}
.page{
    height: 100%;
    font-size: 40px;}
    
span{
        font-size: 30px;
        color: teal;
        text-align: center;
    }

iframe {
    display:block;
    width:100%;
}   

@media (max-width:700px ){
    .description{
        font-size: 17px;
    }
    .divpages{
        height: 60px;
    }

}
table{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
th,td{
    border: 1px solid black;
}
